body {
    font-family: "Vulf Mono Demo", monospace;
    font-size: 32px;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: #1b1b2f;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e43f5a;
}
